<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="internal-log.txt">

    <variable name="MySqlConnectionString" value="${configsetting:name=ConnectionStrings.LogDb}" />

    <targets>
        <target xsi:type="AsyncWrapper"
                name="AsyncMySqlHttpLog"
                queueLimit="10000"
                timeToSleepBetweenBatches="1"
                batchSize="200"
                fullBatchSizeWriteLimit="5"
                overflowAction="Grow">

            <target xsi:type="Database"
                    name="MySqlHttpLog"
                    dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
                    connectionString="${var:MySqlConnectionString}"
                    commandText="
                    INSERT INTO `Http` (
                        `AppName`,
                        `Direction`,
                        `RequestTime`,
                        `RequestIp`,
                        `RequestUri`,
                        `RequestQueryString`,
                        `RequestContentType`,
                        `RequestMethod`,
                        `RequestBody`,
                        `RequestCookies`,
                        `RequestHeader`,
                        `ResponseTime`,
                        `ResponseBody`,
                        `ResponseStatusCode`,
                        `ResponseContentType`,
                        `ResponseHeader`
                    ) VALUES (
                        @AppName,
                        @Direction,
                        @RequestTime,
                        @RequestIp,
                        @RequestUri,
                        @RequestQueryString,
                        @RequestContentType,
                        @RequestMethod,
                        @RequestBody,
                        @RequestCookies,
                        @RequestHeader,
                        @ResponseTime,
                        @ResponseBody,
                        @ResponseStatusCode,
                        @ResponseContentType,
                        @ResponseHeader
                    )
            ">
                <parameter name="AppName" layout="${event-properties:item=AppName}" />
                <parameter name="Direction" layout="${event-properties:item=Direction}" />
                <parameter name="RequestTime" layout="${event-properties:item=RequestTime}" />
                <parameter name="RequestIp" layout="${event-properties:item=RequestIp}" />
                <parameter name="RequestUri" layout="${event-properties:item=RequestUri}" />
                <parameter name="RequestQueryString" layout="${event-properties:item=RequestQueryString}" />
                <parameter name="RequestContentType" layout="${event-properties:item=RequestContentType}" />
                <parameter name="RequestMethod" layout="${event-properties:item=RequestMethod}" />
                <parameter name="RequestBody" layout="${event-properties:item=RequestBody}" />
                <parameter name="RequestCookies" layout="${event-properties:item=RequestCookies}" />
                <parameter name="RequestHeader" layout="${event-properties:item=RequestHeader}" />
                <parameter name="ResponseTime" layout="${event-properties:item=ResponseTime}" />
                <parameter name="ResponseBody" layout="${event-properties:item=ResponseBody}" />
                <parameter name="ResponseStatusCode" layout="${event-properties:item=ResponseStatusCode}" />
                <parameter name="ResponseContentType" layout="${event-properties:item=ResponseContentType}" />
                <parameter name="ResponseHeader" layout="${event-properties:item=ResponseHeader}" />
            </target>
        </target>

        <target xsi:type="Database"
                name="ExceptionMySqlLog"
                dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
                connectionString="${var:MySqlConnectionString}"
                commandText="
                    INSERT INTO `Exception` (
                        `AppName`,
                        `CreatedAt`,
                        `ClassName`,
                        `MethodName`,
                        `Message`,
                        `StackTrace`,
                        `Content`
                    ) VALUES (
                        @AppName,
                        @CreatedAt,
                        @ClassName,
                        @MethodName,
                        @Message,
                        @StackTrace,
                        @Content
                    )
                ">
            <parameter name="AppName" layout="${event-properties:item=AppName}" />
            <parameter name="ClassName" layout="${event-properties:item=ClassName}" />
            <parameter name="MethodName" layout="${event-properties:item=MethodName}" />
            <parameter name="Message" layout="${event-properties:item=Message}" />
            <parameter name="StackTrace" layout="${event-properties:item=StackTrace}" />
            <parameter name="Content" layout="${event-properties:item=Content}" />
        </target>

        <target xsi:type="Database"
                name="ProgramMySqlLog"
                dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
                connectionString="${var:MySqlConnectionString}"
                commandText="
                    INSERT INTO `Program` (
                        `CreatedAt`,
                        `AppName`,
                        `LogLevel`,
                        `Message`,
                        `Data`
                    ) VALUES (
                        @CreatedAt,
                        @ClassName,
                        @MethodName,
                        @Message,
                        @StackTrace
                    )
                ">
            <parameter name="AppName" layout="${event-properties:item=AppName}" />
            <parameter name="ClassName" layout="${event-properties:item=ClassName}" />
            <parameter name="MethodName" layout="${event-properties:item=MethodName}" />
            <parameter name="Message" layout="${event-properties:item=Message}" />
            <parameter name="StackTrace" layout="${event-properties:item=StackTrace}" />
            <parameter name="Content" layout="${event-properties:item=Content}" />
        </target>

        <target name="FileLog"
                xsi:type="File"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
                fileName="${basedir}/log/${date:format=yyyyMMdd}.txt"
                archiveFileName="${basedir}/log/{#}.txt"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="30"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="UTF-8" />

        <target name="BlackHole" xsi:type="Null" />

    </targets>

    <rules>
        <logger name="HttpLogger" levels="Info" writeTo="AsyncMySqlHttpLog" final="true" enable="true" />
        <logger name="ExceptionLogger" levels="Error" writeTo="ExceptionMySqlLog" final="true" enable="true" />
        <logger name="ProgramLogger" levels="Error" writeTo="ProgramMySqlLog" final="true" enable="true" />
        <logger name="FileLogger" levels="Trace" writeTo="FileLog" final="true" enable="true" />
    </rules>
</nlog>